<table mat-table class="mat-elevation-z8">
    <thead>
        <tr>
            <th mat-header-cell>ID</th>
            <th mat-header-cell>Nombre</th>
            <th mat-header-cell>Descripción</th>
            <th mat-header-cell>Precio</th>
            <th mat-header-cell>Cantidad</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let products of data">
            <td>{{products.id}}</td>
            <td>{{products.nombre}}</td>
            <td>{{products.descripcion}}</td>
            <td>{{products.precio}}</td>
            <td>{{products.cantidad}}</td>
        </tr>
    </tbody>
</table>