<div>
  <mat-toolbar color="primary" class="sm">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
      </mat-menu>
    <span>Taller de Proyectos - Grupo 5</span>
    <span class="example-spacer"></span>
    
    <!-- Menu del administrador -->
    <span>
      <button mat-button [matMenuTriggerFor]="admin">
        <span>Administrator</span>
      </button>
      <mat-menu #admin="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <a href="admin/dashboard">Dashboard</a>
        </button>

        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <a href="admin">Login</a>
        </button>
      </mat-menu>
    </span>

    <!-- Menu del Proveedor -->

    <span>
      <button mat-button [matMenuTriggerFor]="provider">
        <span>Provider</span>
      </button>
      <mat-menu #provider="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <a href="provider/dashboard">Dashboard</a>
        </button>

        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <a href="employee">Login</a>
        </button>

        <button mat-menu-item>
          <mat-icon>create</mat-icon>
          <a href="employee/register">Register</a>
        </button>
      </mat-menu>
    </span>

    <!-- Menu del Cliente -->
    <span>
      <button mat-button [matMenuTriggerFor]="customer">
        <span>Customer</span>
      </button>
      <mat-menu #customer="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <a href="customer/dashboard">Dashboard</a>
        </button>

        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <a href="customer">Login</a>
        </button>

        <button mat-menu-item>
          <mat-icon>create</mat-icon>
          <a href="customer/register">Register</a>
        </button>
      </mat-menu>
    </span>
    
  </mat-toolbar>
</div>

<div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
<div>